h1 {
  text-align:center;
  margin: 0 auto;
}

button {
  background: none;
  border: none;
  font-size: 12;
}

.outer {
  background-color: #336699;
  box-shadow: inset -1px 1px 7px rgba(0,0,0,.2), inset 1px -1px 7px rgba(0,0,0,.2), 1px 12px 5px rgba(0,0,0,.4), 4px 3px 8px rgba(0,0,0,.4), 5px 10px 10px rgba(0,0,0,.2), -5px 10px 10px rgba(0,0,0,.4);
  position: relative;
  border-radius: 10px;
  width: 500px;
  height: 600px;
  margin: 10% auto;
  padding: 10px 10px 0;
  text-align:center;
}

.board {
  background-color: black;
  /*width: 400px;
  height: 400px;*/
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.game {
  background-color: green;
  width: 300px;
  height: 300px;
  position: relative;
}
